.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content:  center ;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.red {
    background-color: red;
}